/target
/.helix
/result
/.direnv
.devenv*
devenv.local.nix

**/dist/**

# insta snapshots
*.pending-snap
*.snap.new

# editor config
/.helix
/.vscode

# cargo binaries
.bin/
.local-cache/

# wasm
**/pkg/

# node
**/node_modules
.ant-colony/
